<header class="header">
    <nav class="nav">
        <div class="nav-brand">
            <div class="brand-logo">
                <div class="logo-icon">
                    <img src="/images/icon-trans-white.png" height="40" width="40" />
                </div>
                <h1>Monera</h1>
            </div>
        </div>
        <div class="nav-links">
            <a href="/#features">Özellikler</a>
            <a href="/#screenshots">Ekran Görüntüleri</a>
            <a href="/#download">İndir</a>
            <a href="<%= app.githubUrl %>" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
    </nav>
</header>